{% extends "@Contao/content_element/_base.html.twig" %}

{% block content %}

  {% if as_editor_view %}

    <p>{{ selectorType }}="{{ articleSelector }}" -> <strong>{{ headingSelector }}</strong></p>

  {% else %}
  
    <nav id="toc" aria-label="Table of Contents">
      {# <input type="checkbox" id="toc-checkbox"> #}
    </nav>
    <script>
      toc("{{ selectorType }}", "{{ articleSelector }}", "{{ headingSelector }}");
    </script>

  {% endif %}
  
{% endblock %}